{% extends "twitter_game/base.html" %}

{% block body %}

    <main class="article-content">
      <div class="page-header">
        <h1 class="page-title" style="margin: 1em;">Home</h1>
      </div>
      <div class="card">
        <div class="card-body">

            <table class="table table-striped" style="margin-top: 40px;">
              <thead>
                  <tr>
                      <th scope="col">Body</th>
                      <th scope="col">Likes</th>
                      <th scope="col">Dislikes</th>
                      <th scope="col">Date Published</th>
                  </tr>
              </thead>
              <tbody>
                  
                  {% for post in post_list %}

                      <tr>
                          <td>{{ post.body }}</td>
                          <td>{{ post.total_likes }}<input type="button" class="like" name="{{ post.id }}" value="Like" /></td>
                          <td>{{ post.total_dislikes }}<input type="button" class="dislike" name="{{ post.id }}" value="Dislike" /></td>
                          <td>{{ post.time_posted }}</td>
                      </tr>

                  {% endfor %}

              </tbody>
          </table>

        </div>
        <div class="card-footer text-muted">
          {% if request.user.is_authenticated %}
            <p class="card-text">Welcome {{ request.user.username }}</p>
          {% else %}
            <p class="card-text">Welcome! Login or register to create and vote on posts.</p>
          {% endif %}
        </div>
      </div>
    </main>

{% endblock %}



{% block script %}
  <script>
    $('.like').click(function(){
      console.log('like clicked')
          $.ajax({
                   type: "POST",
                   url: "{% url 'like' %}",
                   data: {'post_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                          alert(response.message);
                          alert('Post likes count is now ' + response.likes_count);
                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              }); 
        })

    $('.dislike').click(function(){
      console.log('dislike clicked')
          $.ajax({
                   type: "POST",
                   url: "{% url 'dislike' %}",
                   data: {'post_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                          alert(response.message);
                          alert('Post dislikes count is now ' + response.dislikes_count);
                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              }); 
        })
    </script>
{% endblock %}
